body
{
    background-color: hsl(47, 88%, 63%);
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
#description{
    /* text-preset-3-bold */
    font-family: Figtree;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    margin: 1px;
    text-wrap: wrap;
}
#name:link {
	color: black;
  }
  
  /* visited link */
  #name:visited {
	color: black;
  }
  
  /* mouse over link */
  #name:hover {
	color:  hsl(47, 88%, 63%);
  }
  
  /* selected link */
  #name:active {
	color: black
  }

#leadtext
{
    border-radius: 4px;
    background: var(--color-yellow, #F4D04E);
    color: var(--color-gray-950, #111);
    margin: 1px;
    /* text-preset-3-bold */
    font-family: Figtree;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    width:fit-content;
    gap: var(--spacing-100, 8px);
    padding: var(--spacing-50, 4px) var(--spacing-150, 12px);
    border: 4px 
}
#name
{
    color: var(--color-gray-950, #111);
    /* text-preset-3-bold */
    font-family: Figtree;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    margin: 1px;
}
#author
{
    color: var(--color-gray-950, #111);

    /* text-preset-3-bold */
    font-family: Figtree;
    font-size: var(--font-size-text-preset-3, 14px);
    font-style: normal;
    font-weight: 800;
    line-height: 150%; /* 21px */
    margin: 1px
}

#date
{
    color: var(--color-gray-950, #111);
    /* text-preset-3-bold */
    font-family: Figtree;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    margin: 1px;
}
.card
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-150, 12px);
    max-width: 336px;
    margin:auto;
    padding: var(--spacing-200, 24px);
    border-radius: 20px;
    border: 1px solid var(--color-gray-950, #111);
    background: var(--color-white, #FFF);
    box-shadow: 8px 8px 0px 0px #000;


}
p
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-150, 12px);
    align-self: stretch;
}

.contribution
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: var(--spacing-150, 12px);
    align-self: stretch;
    margin: 1px;
    color: var(--color-gray-950, #111);
    /* text-preset-3-bold */
    font-family: Figtree;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    

.greg
{
    width: 32px;
    height: 32px;
}
}
.attribution
{
    margin: 24px;
}